services:
  db:
    container_name: postgis
    image: postgis/postgis:18-3.6-alpine
    env_file:
      - .env
    ports:
      - "5432:5432"
    networks:
      - db
    volumes:
      - db:/var/lib/postgresql/data
    restart: unless-stopped

networks:
  db:
    driver: bridge

volumes:
  db:

