services:
  db:
    container_name: postgres-db
    image: postgres:17-alpine
    env_file:
      - .env
    # Follow the instructions in readme file
    ports:
      - "5532:5432"
    networks:
      - db
    volumes:
      - db:/var/lib/postgresql/data
    restart: unless-stopped

networks:
  db:
    driver: bridge

volumes:
  db:

