spring:
  application:
    name: server

  # ===========================
  # Database Configuration
  # ===========================
  datasource:
    url: "jdbc:postgresql://${HOST}/${POSTGRES_DB}"
    username: "${POSTGRES_USER}"
    password: "${POSTGRES_PASSWORD}"

    # Connection Pool
    hikari:
      maximum-pool-size: 5
      connection-timeout: 30000

  jpa:
    hibernate:
      ddl-auto: create-drop
    properties:
      hibernate:
        format_sql: true
      jdbc:
        lob:
          non_textual_creation: true
    show-sql: true

  servlet:
    multipart:
      max-request-size: 10MB
      max-file-size: 10MB
      enabled: true

